<h3>Name:</h3>
<%=@figure.name %></a>
<br><br>
Landmarks:
  <%@figure.landmarks.each do |landmark|%>
  <li><%=landmark.name%></li>
  <%end%>
  <br><br>


Titles:
  <%@figure.titles.each do |title|%>
  <li><%=title.name%></li>
  <%end%>
